body {
}

.LoginCont {
	position: relative;
	top: 20px;
}

.FacebookLoginButtonCont {
	/* position: relative; */
	top: 20px;
}

.Logo img {
	width: 140px;
	position: relative;
	margin: auto;
	top: 10px;
}

.Logo {
	margin: 20px;
}
