.Modal {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	padding: 20px;
	z-index: 300;
	width: 40%;
	overflow: hidden;
	top: 30px;
	text-align: -webkit-center;
	background-color: #95eaf3;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	border-radius: 10px;
}

.xIcon {
	position: absolute;
	left: 6%;
	cursor: pointer;
}
