.Header {
	background: rgb(15, 219, 212);
	background: linear-gradient(128deg, rgba(15, 219, 212, 1) 0%, rgba(45, 47, 253, 1) 100%);
	position: sticky;
	width: 100%;
	height: auto;
	top: 0;
	min-height: 80px;
	z-index: 300;
}

.Logo {
	width: 140px;
	position: relative;
	margin: auto;
	top: 10px;
}

.Logo img {
	width: 100%;
}

/* ul {
	list-style-type: none;
	display: inline;
	position: absolute;
	margin-right: 20px;
	right: 0;
}

ul li {
	display: inline-block;
	border-left: 1px solid grey;
	padding: 10px;
	background-color: rgb(207, 207, 241);
} */
