div[data-class="my-extra-content"] {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

div[data-class="my-extra-content"] i {
	margin: 0px;
}

div[data-class="my-card"] {
	width: 20% !important;
	border: 0px;
}

div[data-class="my-description"] {
	text-align: left;
}

div[data-class="my-content"] {
	font-size: 1.5vw !important;
}

i {
	cursor: pointer;
}
