.ResultThumbnailCont {
	margin: 10px;
	width: 28%;
	height: auto;
	background-image: linear-gradient(to right, #339df7d1, #00e1ff);
	padding: 10px;
	box-shadow: 5px 5px 5px lightgray;
	border-radius: 10px;
	text-align: -webkit-center;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Avatar {
	width: 35%;
}

.Avatar img {
	width: 100%;
	border-radius: 75px;
}

.ButtonsCont {
	margin: 10px;
}
