.PrefernecesCont {
	display: block;
	text-align: center;
	padding: 20px;
	margin: 10px;
}

.InputsCont {
	display: inline-block;
	text-align: left;
	padding: 20px;
	margin: 10px;
}

.RadiusIndicator {
	width: 15px;
}

.error {
	border: red;
}

.RadiusIndicator {
	width: 22px;
}
