.Footer {
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: left;
	display: flex;
	justify-content: space-around;
	background: rgb(15, 219, 212);
	background: linear-gradient(128deg, rgba(15, 219, 212, 1) 0%, rgba(45, 47, 253, 1) 100%);
	min-height: 100px;
	align-items: center;
}
