.FilterCont {
	text-align: left;
	padding: 20px;
	background-color: lightskyblue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.AgeFromIndicator {
	width: 20px;
}

.FilterCont {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

select {
	border-radius: 5px;
}

label {
	display: block;
}

.input-cont {
	width: 400px;
}

input[type="checkbox"] {
}
